= stylesheet_link_tag('web/help_style.css')
.ws_main_div
  %div{:class=>"index1"}
    %a{:href=>"#accessing"} - ACCESING 3DCONS
  %div{:class=>"index2"}
    %a{:href=>"#pdb"} - PDB ENTRY
  %div{:class=>"index2"}
    %a{:href=>"#restful"} - RESTFUL SERVICE
  %div{:class=>"index2"}
    %a{:href=>"#tarball"} - RETRIEVE PSSM FILES
  %div{:class=>"index1"}
    %a{:href=>"#gui"} - 3DCONS GUI
  %div{:class=>"index1"}
    %a{:href=>"#refs"} - REFERENCES

  %br
  %br

  %div{:class=>"section", :id=>"accessing"}ACCESING 3DCONS
  %div{:class=>"section_text"}
    3DCONS data can be accessed in three different ways: (1) single PDB entries can be explored through the web browser, (2) a RESTful service is available to retrieve PSSM data of PDB entries in JSON format and (3) a list of PDB ids can be submitted so that the web server will compile a tar file with the desired PSSM files.

  %div{:class=>"section", :id=>"pdb"}PDB ENTRY
  %div{:class=>"section_text"}
    3DCONS can be easily  accessed through a PDB entry using the web  form available under “Query” (Figure #{x=1}A). Type the PDB code into the text  field (Figure #{x=1}B) and press the “Submit” button.
    %div{:class=>"section_image"}
      =image_tag("pdb_query.png")
      %div{:class=>"legend"}Figure #{x}

  %div{:class=>"section", :id=>"#restful"}RESTFUL SERVICE
  %div{:class=>"section_text"}
    The RESTful service can be accessed via http request codifying the URL as
    %br
    %b http://3dcons.cnb.csic.es/pssm_json/&lt;PDB&gt;
    %br
    E.g. 
    %a{:href=>"http://3dcons.cnb.csic.es/pssm_json/101M", :target=>"_blank"}http://3dcons.cnb.csic.es/pssm_json/101M
    %br
    Or if only information for a single chain is needed
    %br
    %b http://3dcons.cnb.csic.es/pssm_json/&lt;PDB&gt;/&lt;CH&gt;
    %br
    E.g.  
    %a{:href=>"http://3dcons.cnb.csic.es/pssm_json/2UZI/R", :target=>"_blank"}http://3dcons.cnb.csic.es/pssm_json/2UZI/R
    %br
    Figure #{x=x+1} describes how the PSSM/PSFM data is encoded into json format
    %div{:class=>"section_image"}
      =image_tag("pssm_json.png")
      %div{:class=>"legend"}Figure #{x}

  %div{:class=>"section", :id=>"#tarball"}RETRIEVE PSSM FILES
  %div{:class=>"section_text"}
    The web application provides a form to retrieve a collection of PSSM files given a list of PDB ids. The form is available under the "RETRIEVE" option (Figure #{x=x+1}A) and the PDB list can be pasted in the text area field (Figure #{x=x}B) or submitted as a one-column text file (Figure #{x=x}C). Once the PDB list is ready click the "Submit" button and the web server will compile a tar file with the requested PSSM files.
    %div{:class=>"section_image"}
      =image_tag("submit_form.png")
      %div{:class=>"legend"}Figure #{x}

  %div{:class=>"section", :id=>"gui"}3DCONS GUI
  %div{:class=>"section_text"}
    The web application provides an intuitive and interactive graphical environment to display PSSM data at structural and sequence level. The information is organized in 3 different panels (Figure 4): 3D viewer (A1), sequence information  panel (B1 and B2) and PSSM profile (C1, C2 and C3). The 3D viewer displays the protein atomic structure. The sequence panel shows the amount of information per amino acid (B1, reference [1]) and the location of Pfam domains in the protein (B2). The PSSM profile panel contains a table displaying the information calculated by the PSI-BLAST program. The information is divided in three sections. The first section (C1) contains the residue identifier (displayed every 10 residues), a color flag indicating whether a residue is part of domain (pink) or not (gray) and the residue type. The second section (C2) displays the scores of the PSSM profiles for the 20 different amino acids [1]. Finally, the  RWP and the IP columns (C3) are the relative weight of non-gap sequences to pseudocounts [1,2] and the information per position [1], respectively.     
    %div{:class=>"section_image"}
      =image_tag("gui.png")
      %div{:class=>"legend"}Figure #{x}   
    When the PDB entry contains more than one chain, the visualized  chain can be changed using the the selector on the top of the  3D  viewer (Figure D1).The PSSM data that  can be switched to PSFM information using the “SCORE TYPE” selector and the “ITERATION” selector allows to change the PSIBLAST iteration used to compute the data (D2). Also, the PSSM table rows can be clicked to highlight the corresponding residue at structural level. On the other side, when a residue in the structure is clicked  (SHIFT+left click) the table row corresponding to the selected residue will  be highlighted.

  %div{:class=>"section", :id=>"refs"} REFERENCES
  %div{:class=>"section_text"}
    1 - Altschul SF, Madden TL, Schäffer AA, Zhang J, Zhang Z, Miller W, Lipman DJ. Gapped BLAST and PSI-BLAST: a new generation of protein database search programs. Nucleic Acids Res. 1997 Sep 1;25(17):3389-402.
    %br
    2 - Henikoff S, Henikoff JG. Position-based sequence weights. J Mol Biol. 1994 Nov 4;243(4):574-8.



  %br
  %br
