%html(lang="en")
  %head
    = stylesheet_link_tag('main_frame/main_frame_style.css')
    = javascript_include_tag('main_frame/main_frame_lib.js')
    = javascript_include_tag('main_frame/main_frame_init.js')

    = javascript_include_tag('/ngl/ngl.js')

    = javascript_include_tag('structure_viewer/nglClass.js')
    = javascript_include_tag('pssm_viewer/pssmClass.js')
  %body
    =yield
